* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #373737;
    font-family: 'Trebuchet MS';
}

.header {
    background-color: #EFFCFF;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header img {
    padding: 10px 0;
    width: 200px;
    height: 300px;
    border-radius: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.header h1 {
    font-size: 40px;
    color: #373737;
    
}

.header ul {
    display: inline-flex;
    justify-content: flex-end;
}

.header ul li {
    list-style: none;
    font-size: 25px;
    display: inline-flex;
    padding: 100% 10px 0 10px;
}

.header ul li a {
    color: #373737;
}

.header a {
    text-decoration: none;
} 

.header a:visited {
    color: #373737;
}

.header a:hover {
    color: rgb(75, 126, 238);
}

.about h2 {
    text-align: center;
}

.content {
    color: #EFFCFF;
}

.content article {
    display: flex;
}

.aside h2 {
    text-align: center;
}

.aside {
    flex: 0 0 20%;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.projects {
    width: 100%;
}

.projects div {
    display: flex;
    justify-content: space-between;    
}

.projects div a {
    flex: 0 0 45%;    
}



.first-project, .JS, .Node, .MERN {
    background-size: 100% 100%;
    background-position: center center;
    width: 100%;
}

.first-project {
    background-image: url(.././Images/HTMLCSS.jpg);
}

.JS {
    background-image: url(.././Images/JS.jpg);
}

.Node {
    background-image: url(.././Images/Node.png);
}

.MERN {
    background-image: url(.././Images/MERN.png)
}

.first-project {
    height: 400px;
}

.contact a {
    color: #EFFCFF;
    text-decoration: none;
}

.contact a:hover {
    color: rgb(75, 126, 238);
}

@media screen and (max-width: 760px) {

}