* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #373737;
    font-family: 'Trebuchet MS';
}

.header {
    background-color: #EFFCFF;
    display: inline-flex;
    width: 100%;
}

.header img {
    padding: 10px 0;
    height: auto;
    width: 150px;
    border-radius: 100px;
    margin: auto;
}

.header h1 {
    font-size: 40px;
    color: #373737;
    
}

.header ul {
    display: inline-flex;
    justify-content: flex-end;
}

.header ul li {
    list-style: none;
    font-size: 25px;
    display: inline-flex;
    padding: 100% 10px 0 10px;
}

.header ul li a {
    color: #373737;
}

.header a {
    text-decoration: none;
} 

.header a:visited {
    color: #373737;
}

.header a:hover {
    color: rgb(75, 126, 238);
}

.content {
    color: #EFFCFF;
}

.content article {
    display: flex;
}

.aside, .content p, .content a {
    flex: 1;
}

.HTML, .JS, .Node, .MERN {
    background-size: 100% 100%;
    background-position: center center;
}

.HTML {
    background-image: url(.././Images/HTMLCSS.jpg);
}

.JS {
    background-image: url(.././Images/JS.jpg);
}

.Node {
    background-image: url(.././Images/Node.png);
}

.MERN {
    background-image: url(.././Images/MERN.png)
}

.contact a {
    color: #EFFCFF;
    text-decoration: none;
}

.contact a:hover {
    color: rgb(75, 126, 238);
}

@media screen and (max-width: 760px) {
    
}